:root {
    --primary-color: #8f8f8d;
    --secondary-color: #0c0c0c;
    --tertiary-color: #ece3c6;
    --glow-color: #FAF9F6;
}




a {
    color: var(--glow-color);
}

a:hover{
    color: var(--tertiary-color); 
}

body, li, ul.menu, .top-bar {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}
.section-title {
    padding-bottom: 10px;
}

.top-bar {
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 25px;
    margin-left: 0px;
}

.top-bar-left {
    border-bottom: 1px solid var(--primary-color);
    margin-left: -15px;
    padding-left: 20px;
}




/* About Me start */

.avatar {
    border-radius: 50%;
    height: auto;
    border: 5px inset var(--tertiary-color);
}



.tab {
    overflow: hidden;
    border-top: 1px solid var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-bottom: 30px;
}

.tablinks.active {
    background-color: #70706d;
    border-top: var(--tertiary-color);
    box-shadow: 0px -2px 3px #8f8f8f inset, 0px 2px 3px #8f8f8f inset;

}



.tablinks, .tab {
    padding-top: 20px;
    width: 100%;
    background-color: #8b8a86;
    color: var(--tertiary-color);

    box-shadow: 0px -1px 2px #575757 inset, 0px 1px 2px #575757 inset;
}


.tablinks:hover {
    background-color: #838380;
    box-shadow: 0px -2px 3px #575757 inset, 0px 2px 3px #575757 inset;
    
}
.content-holder {
    border: 1px solid var(--primary-color);
    padding-top: 20px;
    margin-top: -15px;
    padding-left: 2em;
    border-top: 1px solid var(--tertiary-color);
    box-shadow: -3px -3px 5px #666661 inset, 5px 5px 5px #686862 inset;
    padding: 15px;
    padding-left: 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: linear-gradient(
  to bottom,
  rgb(222, 223, 216),
  rgb(222, 223, 216, .85),
  rgb(222, 223, 216, .95),
  rgb(222, 223, 216, .80)
);
background-size: 100% 5px;

}

.tabcontent {
    display: none;
    height: 500px;
overflow-y: scroll;
    color: var(--secondary-color);
   padding: 10px;
   animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity:0;}
    to {opacity: 1;}
}

.tabcontent a {
    color: var(--secondary-color);
    text-decoration: underline;
}

a img {
    opacity: 90%;
    border-radius: 15px;
    transition: opacity 1s, box-shadow 1s;
}
a img:hover {

    opacity: 1;
    box-shadow: -3px -3px 5px var(--glow-color), 3px 3px 5px var(--glow-color) ;
}


