

a {
    color: var(--glow-color);
}

img {
    border-radius: 15px;
    max-width: 300px;
}

.section-wrap {
    width: 600px;
    h2 {
        text-align: center;
    }
}



.portfolio-item {
    margin: 10px;
    background-color: #1e1c2f;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ece3c6;
}

.btn {
    margin: .5em;
    background-color: #1e1c2f;
    padding: 7px;
    border-radius: 15px;
    border: 1px inset #ece3c6;
    text-decoration: none;
}

.btn:hover {
    border: 1px outset #ece3c6;
    box-shadow: -1px -1px 3px #4d4d4e, 1px 1px 3px #4d4d4e;
}

.btn-primary {
    background-color: #ece3c6;
    color: #1e1c2f;
    border: 2px inset #292640
}

.btn-primary:hover {
    border: 2px outset #292640;

}

@media only screen and (min-width: 768px) {

    .items-container {
        display: flex;

    }
    img {
        max-width: 250px;
    }


    .section-wrap {
        width: 100%;
        h2 {
            text-align: left;
            margin-left: 10px;
        }
    }
}